div {
    outline: 1px solid red; 
    
}

.container{
    width: 1200px; 
    margin-left:auto;
        margin-right:auto;
        
}
.header{
    height: 200px;
    width: 100%;
}
.logo{
    width:250px;
    font-size: 2.5rem;
    font-weight: bold;
    float: left;
}
.slogan{
    width:380px;
    color:#a37b771;
    font-family:sans-serif;
    font-size: 12px;
    float: left;
}
.logoarea{
    float:left;
    height: 100px;
    width: 1200px;
    padding-top: 20px;
    
}
menuarea.{
    float:left;
    height:80px;
    width: 1200px;
}